@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap');


// paleta colores

$dark: #393939;
$dark2: #676767;

$primary: #E9D950;
$secondary: rgba(34, 37, 42, 1);

$body-color: $secondary;
$primary-rgba: rgba(233, 217, 80, 0.4);

$color-primary : red;

